<%= form_with(model: product, url: {action: amount_action}, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount_diff %>
    <%= form.number_field :amount_diff, min: 0, max: amount_action.eql?(:cut_amount) ? product.amount : nil %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code, disabled: true  %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, disabled: true  %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, disabled: true  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
